@import 'styles';

.card {
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $light;
    height: 230px;
    @include media-breakpoint-down(sm) {
      justify-content: start;
      padding: 0.5rem;
      height: 250px;
    }
  }
  .card-title {
    font-weight: 800;
    margin-bottom: 4px;
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
      margin-top: 5px;
    }
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .card-text {
    height: 75px;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      font-size: 0.8rem;
      height: 120px;
    }
    a {
      color: inherit;
    }
  }

  ul {
    font-size: 0.7rem;
    margin-bottom: 4px;
  }
  .genres {
    margin-bottom: 4px;
  }
}
